.contact-body {
    padding-top: 40px;
}

.contact-body .title {
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contact-body ul {
    position: relative;
}
.contact-body li {
    position: relative;
    list-style: none;
    margin-bottom: 10px;
}

.contact-body .icon {
    display: inline-block;
    margin-right: 4px;
    width: 40px;
    font-size: 18px;
    color: rgb(250, 4, 205);
}

.contact-body .text {
    color: white;
    font-weight: 300;
    cursor: pointer;
    display: inline;
}