.languages-body .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: rgb(72, 10, 59);
    display: block;
    margin-top: 5px;
}
.languages-body .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgb(250, 4, 205);
}